# Rust often needs a bit of an extra main task stack size compared to C (the default is 3K)
CONFIG_ESP_MAIN_TASK_STACK_SIZE=7000
# Increase maximum allowed http header size
#CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024
LOG_DEFAULT_LEVEL_NONE=y

# Use this to set FreeRTOS kernel tick frequency to 1000 Hz (100 Hz by default).
# This allows to use 1 ms granuality for thread sleeps (10 ms by default).
#CONFIG_FREERTOS_HZ=1000

CONFIG_IDF_TARGET_ESP32=y
CONFIG_ESP32_REV_MIN_3=y
CONFIG_ESP32_DEFAULT_CPU_FREQ_240=y
CONFIG_ESP32_SPIRAM_SUPPORT=y

CONFIG_BOOTLOADER_COMPILER_OPTIMIZATION_PERF=y
#CONFIG_BOOTLOADER_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_BOOTLOADER_SKIP_VALIDATE_IN_DEEP_SLEEP=y

#CONFIG_BOOTLOADER_LOG_LEVEL_ERROR=y
#CONFIG_LOG_BOOTLOADER_LEVEL_ERROR=y
#CONFIG_LOG_DEFAULT_LEVEL_ERROR=y

CONFIG_BOOTLOADER_LOG_LEVEL_NONE=y
CONFIG_LOG_BOOTLOADER_LEVEL_NONE=y
CONFIG_LOG_DEFAULT_LEVEL_NONE=y
CONFIG_LOG_COLORS=y

CONFIG_SPIRAM_SPEED_80M=y
CONFIG_SPIRAM_MEMTEST=n
CONFIG_SPIRAM_SIZE=-1

CONFIG_ESPTOOLPY_FLASHSIZE_DETECT=y
CONFIG_ESPTOOLPY_BAUD_OTHER_VAL=115200
CONFIG_ESPTOOLPY_MONITOR_BAUD_OTHER_VAL=115200
CONFIG_ESPTOOLPY_MONITOR_BAUD=921600
#ESPTOOLPY_FLASHSIZE_8MB=y

CONFIG_WIFI_LOG_DEFAULT_LEVEL_INFO=y